h1 {
    color: deeppink;
  
}

* {
    border: #ea00ff;
}

.header{
    display: flex;
    justify-content: space-between;

    background-color: aquamarine;

}

.side_description{
    background-color:rgb(128, 73, 0);
    padding-left:60px;


}

.grid{
    background-color: chocolate;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.socal{
    background-color: darkmagenta;
    display: flex;
    justify-content: flex-end;
    margin-top:30px;
    padding-right:30px;
}

.manu{
    margin-right:50px;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) ;
    opacity:0;
}
.item:hover p{
    opacity:1;
}

.item:hover img{
    opacity:0.3;
}

a:link{
    color: #a47f7d;
}

a:visited {
    color:#a47f7d;
}

.footer{
    margin-left: 50px;
}